Properties/wxprops.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.5.906 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element name="Type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
      <xs:element minOccurs="0" name="Editor" type="xs:string" />
      <xs:element minOccurs="0" name="TypeConverter" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:element name="Catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Category">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" type="Property" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" />
      <xs:attribute name="Base" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>